.container__details {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__details div {
    display: flex;
    color: white;
    gap: 20px;

}

.container__details div .image {
    max-width: 400px;
    margin: 0 10px;
    box-shadow: 10px 10px 30px 0px rgba(250, 5, 5, 1);
    border-radius: 10px;
}

.container__info {
    max-width: 500px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.container__info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container__details div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 20px;

    }

    .container__info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}