.card__item {
    width: 90%;
    max-width: 200px;
    margin: 10px;
    background-color: rgba(233, 235, 238, 0.9) !important;
    text-decoration: none;
    color: black;
    overflow: hidden;
    border-radius: 0 14px;

}

.card__item p {
    text-align: center;
    background-color: rgb(214, 16, 16);
    padding: 10px;
    color: #ffff;
    margin: 0;
}