.container__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin-top: 10%;
  margin: auto;
}

.container__input {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.container__input .image {
  width: 200px;
}

@media (max-width: 767px) {
  .container__input {
    flex-direction: column;
  }
}