.container__pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    color: #fff;
    font-weight: bold;
    gap: 10px;
    margin: auto;
}

.container__pagination div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 600px) {
    .container__pagination div {
        gap: 5px;
    }
}